ecma-335/COM/NET/COMNet/Chapter11/QuickTest/Web References/localhost/MathFunctions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://schemas.microsoft.com/clr/nsassem/MyMath/MyMath%2C%20Version%3D1.1.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3D21999781f0cc1fd7" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://schemas.microsoft.com/clr/nsassem/MyMath/MyMath%2C%20Version%3D1.1.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3D21999781f0cc1fd7" name="MathFunctions" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="MathFunctions.DoDivideInput">
    <part name="Value1" type="s:int" />
    <part name="Value2" type="s:int" />
  </message>
  <message name="MathFunctions.DoDivideOutput">
    <part name="return" type="s:int" />
  </message>
  <message name="MathFunctions.DoMultiplyInput">
    <part name="Value1" type="s:int" />
    <part name="Value2" type="s:int" />
  </message>
  <message name="MathFunctions.DoMultiplyOutput">
    <part name="return" type="s:int" />
  </message>
  <message name="MathFunctions.DoSubtractInput">
    <part name="Value1" type="s:int" />
    <part name="Value2" type="s:int" />
  </message>
  <message name="MathFunctions.DoSubtractOutput">
    <part name="return" type="s:int" />
  </message>
  <message name="MathFunctions.DoAddInput">
    <part name="Value1" type="s:int" />
    <part name="Value2" type="s:int" />
  </message>
  <message name="MathFunctions.DoAddOutput">
    <part name="return" type="s:int" />
  </message>
  <message name="IMathFunctions.DoDivideInput">
    <part name="Value1" type="s:int" />
    <part name="Value2" type="s:int" />
  </message>
  <message name="IMathFunctions.DoDivideOutput">
    <part name="return" type="s:int" />
  </message>
  <message name="IMathFunctions.DoMultiplyInput">
    <part name="Value1" type="s:int" />
    <part name="Value2" type="s:int" />
  </message>
  <message name="IMathFunctions.DoMultiplyOutput">
    <part name="return" type="s:int" />
  </message>
  <message name="IMathFunctions.DoSubtractInput">
    <part name="Value1" type="s:int" />
    <part name="Value2" type="s:int" />
  </message>
  <message name="IMathFunctions.DoSubtractOutput">
    <part name="return" type="s:int" />
  </message>
  <message name="IMathFunctions.DoAddInput">
    <part name="Value1" type="s:int" />
    <part name="Value2" type="s:int" />
  </message>
  <message name="IMathFunctions.DoAddOutput">
    <part name="return" type="s:int" />
  </message>
  <portType name="MathFunctionsPortType">
    <operation name="DoDivide" parameterOrder="Value1 Value2">
      <input name="DoDivideRequest" message="tns:MathFunctions.DoDivideInput" />
      <output name="DoDivideResponse" message="tns:MathFunctions.DoDivideOutput" />
    </operation>
    <operation name="DoMultiply" parameterOrder="Value1 Value2">
      <input name="DoMultiplyRequest" message="tns:MathFunctions.DoMultiplyInput" />
      <output name="DoMultiplyResponse" message="tns:MathFunctions.DoMultiplyOutput" />
    </operation>
    <operation name="DoSubtract" parameterOrder="Value1 Value2">
      <input name="DoSubtractRequest" message="tns:MathFunctions.DoSubtractInput" />
      <output name="DoSubtractResponse" message="tns:MathFunctions.DoSubtractOutput" />
    </operation>
    <operation name="DoAdd" parameterOrder="Value1 Value2">
      <input name="DoAddRequest" message="tns:MathFunctions.DoAddInput" />
      <output name="DoAddResponse" message="tns:MathFunctions.DoAddOutput" />
    </operation>
  </portType>
  <portType name="IMathFunctionsPortType">
    <operation name="DoDivide" parameterOrder="Value1 Value2">
      <input name="DoDivideRequest" message="tns:IMathFunctions.DoDivideInput" />
      <output name="DoDivideResponse" message="tns:IMathFunctions.DoDivideOutput" />
    </operation>
    <operation name="DoMultiply" parameterOrder="Value1 Value2">
      <input name="DoMultiplyRequest" message="tns:IMathFunctions.DoMultiplyInput" />
      <output name="DoMultiplyResponse" message="tns:IMathFunctions.DoMultiplyOutput" />
    </operation>
    <operation name="DoSubtract" parameterOrder="Value1 Value2">
      <input name="DoSubtractRequest" message="tns:IMathFunctions.DoSubtractInput" />
      <output name="DoSubtractResponse" message="tns:IMathFunctions.DoSubtractOutput" />
    </operation>
    <operation name="DoAdd" parameterOrder="Value1 Value2">
      <input name="DoAddRequest" message="tns:IMathFunctions.DoAddInput" />
      <output name="DoAddResponse" message="tns:IMathFunctions.DoAddOutput" />
    </operation>
  </portType>
  <binding name="MathFunctionsBinding" type="tns:MathFunctionsPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <suds:class type="ns0:MathFunctions" rootType="ServicedComponent" xmlns:suds="http://www.w3.org/2000/wsdl/suds">
      <suds:implements type="ns0:IMathFunctions" />
    </suds:class>
    <operation name="DoDivide">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/MyMath.MathFunctions/MyMath#DoDivide" />
      <suds:method attributes="public virtual" xmlns:suds="http://www.w3.org/2000/wsdl/suds" />
      <input name="DoDivideRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.MathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="DoDivideResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.MathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DoMultiply">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/MyMath.MathFunctions/MyMath#DoMultiply" />
      <suds:method attributes="public virtual" xmlns:suds="http://www.w3.org/2000/wsdl/suds" />
      <input name="DoMultiplyRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.MathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="DoMultiplyResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.MathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DoSubtract">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/MyMath.MathFunctions/MyMath#DoSubtract" />
      <suds:method attributes="public virtual" xmlns:suds="http://www.w3.org/2000/wsdl/suds" />
      <input name="DoSubtractRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.MathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="DoSubtractResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.MathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DoAdd">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/MyMath.MathFunctions/MyMath#DoAdd" />
      <suds:method attributes="public virtual" xmlns:suds="http://www.w3.org/2000/wsdl/suds" />
      <input name="DoAddRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.MathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="DoAddResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.MathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <binding name="IMathFunctionsBinding" type="tns:IMathFunctionsPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <suds:interface type="ns0:IMathFunctions" xmlns:suds="http://www.w3.org/2000/wsdl/suds">
    </suds:interface>
    <operation name="DoDivide">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/MyMath.IMathFunctions/MyMath#DoDivide" />
      <input name="DoDivideRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.IMathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="DoDivideResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.IMathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DoMultiply">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/MyMath.IMathFunctions/MyMath#DoMultiply" />
      <input name="DoMultiplyRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.IMathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="DoMultiplyResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.IMathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DoSubtract">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/MyMath.IMathFunctions/MyMath#DoSubtract" />
      <input name="DoSubtractRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.IMathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="DoSubtractResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.IMathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DoAdd">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/MyMath.IMathFunctions/MyMath#DoAdd" />
      <input name="DoAddRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.IMathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="DoAddResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/MyMath.IMathFunctions/MyMath" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="MathFunctionsService">
    <port name="MathFunctionsPort" binding="tns:MathFunctionsBinding">
      <soap:address location="http://localhost:80/MyMathMethod/MyMath.MathFunctions.soap" />
    </port>
  </service>
</definitions>